In [2]:
#To establish the connection between the mongodb and python we use pymongo. To use it first import it
import pymongo

In [3]:
#No first establish the connection to the mongoDB,# Provide the mongodb localhost url to connect python to mongodb.
client=pymongo.MongoClient("mongodb+srv://gouthamnarayananumula:Goutham@cluster0.1wsjzai.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [4]:
#Creating a data base with its name
database=client['practice_db']

In [5]:
#Now similar to sql(After creation of database we create a table) simillarly craete a collection
collection=database['practice_collection']

In [8]:
#We insert data into the database by using dictionary values
data={'name':'Goutham',
      'dept':'cse',
      'yearofstudy':'2nd',
      'rollnum':'22KD1A0507',
      'fee due':0,
      'cgpa':9.02,
      'description':'good'}

In [10]:
#No insert the given data into the database
x=collection.insert_one(data) #Here we are inserting only one value so i given 'insert_one' if the values are greate than one then give it as 'insert_many'

In [26]:
#We use find() function to retrieve all the records present in collection
all_record=collection.find()

In [27]:
print(all_record)
#Here all_record is an object so to iterate that object we use for loop
for i in all_record:
    print(i)

<pymongo.cursor.Cursor object at 0x000002150FA7F6B0>
{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}

In [19]:
#to know the list of data bases in that client
all_databases=client.list_database_names()
print(all_databases)

['practice_db', 'admin', 'local']

In [29]:
for idx,record in enumerate(all_record):
    print(f"{idx}:{record}")

In [35]:
#To know the inserted value id we use "inserted_id"
x.inserted_id

ObjectId('65da35125079dda79b7eb339')

In [8]:
#To insert multiple values into the database we use list to insert data
d_v=[{'name':'Malik',
      'dept':'cse',
      'yearofstudy':'2nd',
      'rollnum':'22KD1A0506',
      'fee due':0,
      'cgpa':9.82,
      'description':'good'},
     {'name':'Venkatesh',
      'dept':'cse',
      'yearofstudy':'2nd',
      'rollnum':'22KD1A0509',
      'fee due':1000,
      'cgpa':8.05,
      'description':'good'},
     {'name':'Pardhu',
      'dept':'cse',
      'yearofstudy':'2nd',
      'rollnum':'22KD1A0539',
      'fee due':0,
      'cgpa':9.12,
      'description':'good'},
     {'name':'Likhita',
      'dept':'cse',
      'yearofstudy':'2nd',
      'rollnum':'22KD1A0508',
      'fee due':0,
      'cgpa':9.51,
      'description':'good'},
     {'name':'Satish',
      'dept':'ece',
      'yearofstudy':'2nd',
      'rollnum':'22KD10301',
      'fee due':1500,
      'cgpa':8.52,
      'description':'good'}
     ]

In [9]:
#We are inserting more number of values so we represent as 'insert_many'
y=collection.insert_many(d_v)

In [20]:
all_record=collection.find()
for idx,record in enumerate(all_record):
    print(f"{idx}:{record}")

0:{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
1:{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
2:{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}
3:{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
4:{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}
5:{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}

In [15]:
#If u want to access only upto a limited values from databasethen we use this following syntax
limit_values=collection.find().limit(3)
for i in limit_values:print(i)

{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}

In [17]:
limit_values=collection.find().limit(10)
for i in limit_values:print(i)

{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}

In [26]:
#U access values by using the index values also
all_record=collection.find()
all_record[0]

{'_id': ObjectId('65da35125079dda79b7eb339'),
 'name': 'Goutham',
 'dept': 'cse',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A0507',
 'fee due': 0,
 'cgpa': 9.02,
 'description': 'good'}

In [25]:
#To get inserted values ids
for i in y.inserted_ids:
    print(i)

65da3b1bb72ee614723b128d
65da3b1bb72ee614723b128e
65da3b1bb72ee614723b128f
65da3b1bb72ee614723b1290
65da3b1bb72ee614723b1291

In [27]:
all_record[1]

{'_id': ObjectId('65da3b1bb72ee614723b128d'),
 'name': 'Malik',
 'dept': 'cse',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A0506',
 'fee due': 0,
 'cgpa': 9.82,
 'description': 'good'}

In [29]:
all_record[5]

{'_id': ObjectId('65da3b1bb72ee614723b1291'),
 'name': 'Satish',
 'dept': 'ece',
 'yearofstudy': '2nd',
 'rollnum': '22KD10301',
 'fee due': 1500,
 'cgpa': 8.52,
 'description': 'good'}

In [37]:
#To get a first value fom the given list we use find_one() function. To get first value
collection.find_one()

{'_id': ObjectId('65da35125079dda79b7eb339'),
 'name': 'Goutham',
 'dept': 'cse',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A0507',
 'fee due': 0,
 'cgpa': 9.02,
 'description': 'good'}

In [43]:
#To get other values using function find_one is to passing a argument inside the find_one({})
collection.find_one({})

{'_id': ObjectId('65da35125079dda79b7eb339'),
 'name': 'Goutham',
 'dept': 'cse',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A0507',
 'fee due': 0,
 'cgpa': 9.02,
 'description': 'good'}

In [44]:

collection.find_one({'name':'Goutham'})

{'_id': ObjectId('65da35125079dda79b7eb339'),
 'name': 'Goutham',
 'dept': 'cse',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A0507',
 'fee due': 0,
 'cgpa': 9.02,
 'description': 'good'}

In [48]:
#To find one value from given a daaset we use this following syntax
collection.find_one({'name':'Goutham'})

{'_id': ObjectId('65da35125079dda79b7eb339'),
 'name': 'Goutham',
 'dept': 'cse',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A0507',
 'fee due': 0,
 'cgpa': 9.02,
 'description': 'good'}

In [53]:
#To print all the values which satisfy our condition can be given as .find() only
r=collection.find({'fee due':0})
for i in r:
    print(i)

{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}

In [57]:
#To compare a value or to get greater values than one value we can use this following sysntax
my_query={'cgpa':{'$gt':9.00}}#Here $gt states that greater than the given value
r=collection.find(my_query)
for i in r:print(i)

{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}

In [59]:
#To compare a value or to get lessthan values than other value we can use this following sysntax
my_query={'cgpa':{'$lt':9.00}}#Here $lt states that greater than the given value
r=collection.find(my_query)
for i in r:print(i)

{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}

In [61]:
p=collection.find({'dept':'ece'})
for i in p:print(i)

{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}

In [65]:
#To print the descending values in a given collection we use this following synatx
sorted_values=collection.find().sort('cgpa')
for i in sorted_values:print(i)

{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}
{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}

In [6]:
#To print the ascending values in a given collection we use this following synatx
sorted_values=collection.find().sort('cgpa',-1)
for i in sorted_values:print(i)

{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.02, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}

In [7]:
data={ 'name': 'PardhuGanta',
 'dept': 'csit',
 'yearofstudy': '2nd',
 'rollnum': '22KD1A02f2',
 'fee due': 0,
 'cgpa': 9.2,
 'description': 'good'}
collection.insert_one(data)

InsertOneResult(ObjectId('65da45f0575e78493e0a9061'), acknowledged=True)

In [32]:
#To delete a value from a given data set of mongodb we can use delete() funciton
query={'name':'PardhuGanta'}
d_data=collection.delete_one(query)

In [33]:
#To know how many updates are done or whether updation was done or not we use deleted_count function
d_data.deleted_count

1

In [35]:
#Here by passing two arguments to the update() we can update the given dataset
update_criteria={'name':'Goutham'}
new_value={'$set':{'cgpa':9.62}}
x=collection.update_one(update_criteria,new_value)
x.modified_count

0

In [36]:
#Now let us check whether the vaue is updates or not
all_record=collection.find()
for i in all_record:
    print(i)

{'_id': ObjectId('65da35125079dda79b7eb339'), 'name': 'Goutham', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0507', 'fee due': 0, 'cgpa': 9.62, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128d'), 'name': 'Malik', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0506', 'fee due': 0, 'cgpa': 9.82, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128e'), 'name': 'Venkatesh', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0509', 'fee due': 1000, 'cgpa': 8.05, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b128f'), 'name': 'Pardhu', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0539', 'fee due': 0, 'cgpa': 9.12, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1290'), 'name': 'Likhita', 'dept': 'cse', 'yearofstudy': '2nd', 'rollnum': '22KD1A0508', 'fee due': 0, 'cgpa': 9.51, 'description': 'good'}
{'_id': ObjectId('65da3b1bb72ee614723b1291'), 'name': 'Satish', 'dept': 'ece', 'yearofstudy': '2nd', 'rollnum': '22KD10301', 'fee due': 1500, 'cgpa': 8.52, 'description': 'good'}
{'_id': ObjectId('65da474c575e78493e0a9065'), 'name': 'PardhuGanta', 'dept': 'csit', 'yearofstudy': '2nd', 'rollnum': '22KD1A02f2', 'fee due': 0, 'cgpa': 9.2, 'description': 'good'}

In [38]:
#ZIP
#Heer zip is used to combine two lists
mylist1=[1,2,3,8]
mylist2=['a','b','c','d']
k=zip(mylist1,mylist2)
for i in k:print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(8, 'd')

In [39]:
csvDB=client['CSV']

In [40]:
csv_collection=csvDB['csv_collection']

In [47]:
import pandas as pd
import csv
csv_file_path = pd.read_csv("gapminder-FiveYearData.csv")  # Replace 'your_file.csv' with the actual file path

FileNotFoundError: [Errno 2] No such file or directory: 'gapminder-FiveYearData.csv'